<a href="produto" class="link">
  <div class="promo-cards card all-center">
    <div class="promo-card-image"><img src="./image/imagens-descricao-produto/em-gel.jpg" w height="100" alt=""></div>
    <div class="promo-card-title">Kit com essencias amadeirado</div>
    <div class="promo-card-price d-flex">
      <div class="promo-card-price bg-grey t-white">-</div>
      <div class="promo-card-price  bg-green   t-white">R$XX,XX</div>
      <div class="promo-card-price bg-grey  t-white">+</div>
    </div>
  </div>
</a>