<footer class="bg-blue footer">

    <div class="container d-flex div-content-footer">
        <div class="div-category t-white">Categoria
            <ul class="ul_footer">
                <li class="list"><a class="link t-white" href="">Álcool em Gel</a></li>
                <li class="list"> <a class="link t-white " href="">Kits</a></li>
                <li class="list"> <a class="link t-white" href="">Sobre Nós</a></li>
                <li class="list"><a class="link t-white" href="">Blog</a></li>
            </ul>

        </div>
        <div class="line"></div>
        <div class="div-info t-white">Redes Sociais
            <div class=" div_redes_sociais d-flex">
                <div class="footer_inst"><a href="instagram"> <img height="20px" src="./image/facebook.png"
                            alt="instagram"></a></div>
                <div><a href="facebook"> <img height="20px" src="./image/instagram.png" alt="instagram"></a>
                </div>
            </div>
            <span>Contato</span> <br>
            <span>(11) 97110-2710 </span> <br>
            <span>vanessa.lunardelli@biotechnicals</span>
        </div>
    </div>
</footer>