<footer class="bg-blue footer d-flex">
    <div class="div-category t-white">Categorias: <br>
        <ul class="ul__footer">
            <li class="list"><a class="link t-white" href="">Álcool 70º</a></li>
            <li class="list"> <a class="link t-white " href="">Kits</a></li>
            <li class="list"> <a class="link t-white" href="">Sobre Nós</a></li>
            <li class="list"><a class="link t-white" href="">Blog</a></li>
        </ul>
    </div>

    <!-- Adicionei os links das redes sociais -->

    <div class="line"></div>

    <div class="div-info t-white">Siga-nos nas Redes Sociais:
        <div class="d-flex redes__sociais">
            <a href="https://m.facebook.com/brightmemore ="> <img height="20rem" src="../../image/facebook.png"
                    alt="instagram"></a>
            <a href="https://www.instagram.com/brightmemore/"> <img height="20rem" src="../../image/instagram.png"
                    alt="instagram"></a>
        </div>
        <a class="link t-white" href="tel:+5511999999999">(11) 9999-9999 </a> <br>
        <a class="link t-white" href="mailto:brightmemore@brightme.com.br">brightmemore@brightme.com.br</a>
    </div><br>

</footer>