<footer class="bg-blue footer">

    <div class="container d-flex div-content-footer">
        <div class="div-category t-white">Categoria
            <ul class="ul_footer">
                <li class="list"><a class="link t-white" href="">Álcool 70º</a></li>
                <li class="list"> <a class="link t-white " href="">Kits</a></li>
                <li class="list"> <a class="link t-white" href="">Sobre Nós</a></li>
                <li class="list"><a class="link t-white" href="">Blog</a></li>
            </ul>
        </div>

        <!-- Adicionei os links das redes sociais -->

        <div class="line"></div>

        <div class="div-info t-white">Siga-nos nas Redes Sociais:
            <div class="div_redes_sociais d-flex">
                <div class="footer_inst"><a href="https://m.facebook.com/brightmemore"> <img height="20rem" src="../image/facebook.png"
                            alt="instagram"></a></div>
                <div><a href="https://www.instagram.com/brightmemore/"> <img height="20rem" src="../image/instagram.png" alt="instagram"></a>

                </div>
            </div>
            <span>(11) 9999-9999 </span> <br>
            <span>brightmemore@brightme.com.br</span>   
        </div>
    </div>
</footer>
<script src="../../script/script.js" defer></script>