<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/styles/main.css">
    <title>Brightme</title>
</head>

<body>
    <header class="header">
        <nav class="nav_menu container">
            <div class="brand">
                <a href="./index.html"><img height="60px" src="../public/image/logos-bg.png" alt="logo"
                        class="brand-img"></a>
            </div>
            <div class="div_menu">
                <ul class="list_menu d-flex list">
                    <li class="t-white"><a href="" class="li-item item_list t-white">Álcool Em Gel</a></li>
                    <li><a href="" class="li-item item_list t-white">Kits Promocionais</a></li>
                    <li><a href="" class="li-item item_list t-white">Sobre Nós</a></li>
                    <li><a href="" class="li-item item_list t-white">Blog</a></li>
                </ul>
            </div>
            <div class="d-flex ">
                <a href="/login " class="account">Entrar</a>
                <div class="cart all-center"><a href="./cart"><img height="20px" src="../public/image/cart.png"
                            alt=""></a></div>
            </div>
        </nav>
    </header>