<header class="header">
    <div class="brand">
        <a href="/"><img height="60px" src="../image/logos-bg.png" alt="logo" class="brand-img"></a>
    </div>
        <nav id="nav_menu">
        <button id="btn-mobile">Menu</button>
        <div class="div_menu">
            <ul class="list_menu d-flex list">
                <li><a href="" class="li-item item_list t-white">Álcool Em Gel</a></li>
                <li><a href="" class="li-item item_list t-white">Kits Promocionais</a></li>
                <li><a href="" class="li-item item_list t-white">Sobre Nós</a></li>
                <li><a href="" class="li-item item_list t-white">Blog</a></li>
                <li><a href="user/login" class="account">Entrar</a></li>
            </ul>
        </div>
    </nav>
</header>