<header class="header">
    <nav class="nav_menu container">
        <div class="brand">
            <a href="/"><img height="60px" src="./image/logos-bg.png" alt="logo" class="brand-img"></a>
        </div>
        <div class="div_menu">
            <ul class="list_menu d-flex list">
                <li class="t-white"><a href="" class="li-item item_list t-white">Álcool Em Gel</a></li>
                <li><a href="" class="li-item item_list t-white">Kits Promocionais</a></li>
                <li><a href="" class="li-item item_list t-white">Sobre Nós</a></li>
                <li><a href="" class="li-item item_list t-white">Blog</a></li>
            </ul>
        </div>
        <div class="d-flex ">
            <a href="/login " class="account">Entrar</a>
            <div class="cart all-center"><a href="./cart"><img height="20px" src="../image/cart.png" alt=""></a>
            </div>
        </div>
    </nav>
</header>