<div class="modal" id="adicionarCategoria">
  <button class="btn t-red btn__fechar-modal" onclick="fecharModal('adicionarCategoria')">x</button>
  <div class="d-flex modal__categoria">
    <div>
      <form method="post" action="/administrador/categoria">
        <label for="categoria">Qual nome da Categoria?</label>
        <input name="categoria" type="text" class="card"> <br>
        <button type="submit" class="bg-green btn t-white">Criar</button>
      </form>
    </div>
    <div>
      <h2>Categorias Cadastradas</h2>
      <ul class="mt-20"></ul>
      <% if (data.categorias) { %>
        <% for(const n of data.categorias) { %>

          <li class="list">
            <%= n.id %> : <%= n.nome %>
          </li>

          <% } %>
        <% } %>
      </ul>
    </div>
  </div>
</div>