* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

:root {
  --cinza-200: #c4c4c4;
  --main-rosa: #e15f41;
  --main-grey: #a4a4a4;
  --main-azul: #303952;
}

.btn-primary {
  color: #ffffff;
  background: var(--main-rosa);
  height: 40px;
  width: 150px;
  font-size: 18px;
  border-radius: 10px;
  border: none;
}

.btn-secondary {
  color: #ffffff;
  background: var(--cinza-200);
  height: 40px;
  width: 150px;
  font-size: 18px;
  border-radius: 10px;
  border: none;
}

.card {
  border: 1px solid var(--cinza-200);
  width: 200px;
  border-radius: 20px;
  height: 300px;
  display: flex;
}

.container {
  width: 1000px;
  margin: 0 auto;
}

.bg-rosa {
  background-color: var(--main-rosa);
}

.nav-menu {
  display: flex;
}
