<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../styles/adm-login.css">
    <link rel="shortcut icon" href="../../image/favicon.png" type="image/x-icon">

    <title>Login Adm</title>
</head>

<body>
    <section class="all-center h-100">
            <div>
                <a class="btn bg-rosa t-white link" href="/">Pagina Inicial</a> <br>
                <form action="" method="post">
                    <label for="id">Id</label>
                    <input type="email" name="id" class="card">
                    <br>
                    <label for="senha">senha</label>
                    <input type="password" name="senha" class="card"> <br>
                    <button class="btn w-100" type="submit">Logar</button>
                </form>
            </div>
    </section>
</body>

</html>