<!DOCTYPE html>
<html lang="PT-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../styles/conta-usuario.css">
    <link rel="shortcut icon" href="../../image/favicon.png" type="image/x-icon">
    <script src="../../script/menu.js" defer></script>
    <title>Conta Usuário</title>
</head>

<body>
    <%- include('./partials/header') %>
        <br><br>
        <section class="container">

            <div class="favoritos w-100 bg-rosa t-white">
                <h3 class="pd-sm">Meus Favoritos</h3>
            </div>
            <br>

            <div class="pedidos w-100">
                <h3 class="bg-rosa t-white pd-sm">Meus pedidos</h3>

                <ul class="mt-20">
                    <li>Pedido Nº 12345</li>
                    <li>Pedido Nº 51902</li>
                    <li>Pedido Nº 33343</li>
                </ul>
            </div><br>

            <h3 class="bg-rosa t-white pd-sm">Informações da Conta</h3> <br>
            <section class="conta__info d-flex">
                <div class="forms w-50">
                    <form class="email">
                        <!-- alterar email-->
                        <label for="email">Alterar e-mail</label><br>
                        <input class="w-100 input " type="email" name="email" id="email"
                            placeholder="Insira seu novo e-mail">
                        <button class="btn mt-sm" type="submit">
                            Alterar e-mail
                        </button><br>
                    </form>

                    <form action="">
                        <label for="password">Alterar senha</label><br>
                        <input class="input w-100" type="password" name="password" id="password"
                            placeholder="Insira sua nova senha"><br>

                        <input class="input w-100 mt-sm" type="password" id="passwordConfirm"
                            placeholder="Insira sua nova senha outra vez"><br>
                        <button class="btn mt-sm" type="submit">Alterar Senha</button><br>
                    </form>
                </div>
            </section>
        </section>
        <%- include('./partials/footer') %>
</body>

</html>