<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../styles/error.css">
    <link rel="shortcut icon" href="../../image/favicon.png" type="image/x-icon">
    <script src="../../script/menu.js" defer></script>
    <title>Erro</title>
</head>

<body>
    <%- include('./partials/header') %>
    <div class="div-error w-100 all-center">
        <p style="font-size:6rem;"> Ops! Página não encontrada </p>

      <%  if(error){%>
          <span>  <%=  error  %> </span>
        <% }%>

    </div>

    <%- include('./partials/footer') %>
</body>

</html>