<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/styles/index.css">
    <title>Brightme</title>
</head>

<body>


    <div id="intro">
        <!--Início banner intro-->
        <h3>BrightMe</h3>
        <p>
            O poder dos óleos essenciais junto com o poder dos higeinizadores de mão como o álcool em gel e spray.
            Pontecializando a limpreza
        </p>
        <button id="descobrir">Descobrir</button>
    </div>
    <!--Fim banner intro-->

    <div id="amostra-kit">
        <!--Início amostra kit-->
        <div>
            <img class="kit" src="../public/image/imagens-descricao-produto/Kit 1.jpeg" alt="Kit 1 - Citricos">
        </div>
        <div>
            <img class="kit" src="../public/image/imagens-descricao-produto/Kit 2.jpeg" alt="Kit 1 - Citricos">
        </div>
        <div>
            <img class="kit" src="../public/image/imagens-descricao-produto/Kit 2.jpeg" alt="Kit 1 - Citricos">
        </div>
        <div class="clear"></div>
    </div>
    <!--fim amostra kit-->

    <div id="feedback">
        <!--Início Feedback-->
        <img class="feedback" src="../public/image/imagens-descricao-produto/feedback1.PNG" alt="">
        <button class="ver-produtos">Ver Produtos</button>
    </div>
    <!--fim Feedback-->

    <div id="blog">
        <!--fim blog-->
        <hr class="divisor"> Blog
        <hr>
        <div class="materia1">

            <div>

            </div>
        </div>
    </div>
    <!--Início blog-->

    </div>
    <!--fim Container-->

    <div class="clear"></div>

</html>