<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/styles/index.css">
    <title>Brightme</title>
</head>

<body>
    <div class="content-banner-image ">
        <div class="content-banner container">
            <div class="banner-title t-white">
                <h1>Brightme</h1>
            </div>
            <div class="banner-text t-white">
                <p> Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cumque sed assumenda eaque recusandae. Rem
                    obcaecati provident veritatis ipsa eveniet veniam nulla neque. Adipisci, debitis impedit! Optio quo
                    corporis totam provident.</p>
            </div>
            <div class="banner-button"><button class="btn-primary">descobrir</button></div>
        </div>
    </div>

    <!--Fim banner intro-->
    <div class="tools bg-rosa">
        <div class="container tools-contants">
            <div class="tools-boxes-pictures bg-white">

            </div>
            <div class="tools-boxes-pictures bg-white">

            </div>
            <div class="tools-boxes-pictures bg-white">

            </div>
        </div>
    </div>
    <!--fim tools-->

    <!--Início Feedback-->

    <div class="feedback bg-grey">

        <input class="botao1" type="button" value="<">
        <input class="botao2" type="button" value=">">

        <div class="feedback-button"><button class="btn-primary">Ver Produtos</button></div>


        <div class="feedback-centro card2">

            <div class="msg-cliente">
                <img class="imagem-perfil" src="../public/image/profile-icon.svg" alt="">
            </div>
            <div class="texto-cliente">
                <div>
                    <p>User Name</p><br>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolor, vitae aliquid. Possimus cumque
                        quaerat, mollitia beatae accusamus ducimus tempora repellendus tempore sunt deleniti laborum
                        voluptatem inventore deserunt voluptatum nobis sit.</p>

                    <img class="img-votacao" src="../public/image/istockphoto-1191661889-612x612.jpg" alt="">


                </div>



            </div>
        </div>
    </div>
    <!--fim Feedback-->

    <div class="blog">
        <hr>
        <div class="title-blog">Blog</div>
        <hr class="linha2">
        <div class="conteiner-blog">
            <div class="blog-box1">
                <div class="tools-boxes-pictures2 bg-white"></div>
                <div>
                    <p class="title-content1">Lorem ipsum dolor</p>
                    <p class="text-content1">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Est quibusdam
                        provident eius sint, incidunt dicta iure maxime quas magni. Soluta voluptatibus corporis
                        inventore asperiores velit, voluptatum ipsum minus laborum dolorem.</p>
                </div>

            </div>
            <div class="blog-box2">
                <div class="tools-boxes-pictures2 bg-white"></div>
                <div>
                    <p class="title-content2">Lorem ipsum dolor</p>
                    <p class="text-content2">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Est quibusdam
                        provident eius sint, incidunt dicta iure maxime quas magni. Soluta voluptatibus corporis
                        inventore asperiores velit, voluptatum ipsum minus laborum dolorem.</p>
                </div>

            </div>
        </div>
    </div>
    <div class="end">
        <div class="content-end">
            <p class="title-end">Lorem ipsum</p><br>
            <p class="text-end">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum assumenda sit ad dolore suscipit quia possimus esse nam, porro non fuga corrupti, voluptates sapiente maiores ex, numquam mollitia quis maxime.</p><br>
            <p class="text-end">Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores sequi cumque quae ab sed quia. Quae quam pariatur harum quo explicabo vitae neque adipisci nisi delectus, ab, fuga architecto facilis.</p><br>
            <p class="text-end">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem consectetur mollitia ut dolorem, ab laboriosam eos molestiae magnam reiciendis aut alias modi inventore quis, repellendus consequuntur tempora sit sapiente nostrum!</p><br>
        </div>
        <div>
            <img class="img-fim" src="../public/image/imagens-descricao-produto/quem somos.jpeg" alt="">
        </div>
    </div>

</body>

</html>