<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="./styles/index.css">
    <title>Brightme</title>
</head>
<%- include('./partials/header') %>

<body>
    <div class=" content-banner-image ">
        <div class="content-banner container">
            <div class="banner-title t-white">
                <h1>Brightme</h1>
            </div>
            <div class="banner-text t-white">
                <p> Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cumque sed assumenda eaque recusandae. Rem
                    obcaecati provident veritatis ipsa eveniet veniam nulla neque. Adipisci, debitis impedit! Optio quo
                    corporis totam provident.</p>
            </div>
            <div class="banner-button"><button class="btn-primary">descobrir</button></div>
        </div>
    </div>

    <!--Fim banner intro-->
    <div class="tools bg-rosa">
        <div class="container tools-contants">
            <div class="tools-boxes-pictures bg-white">

            </div>
            <div class="tools-boxes-pictures bg-white">

            </div>
            <div class="tools-boxes-pictures bg-white">

            </div>
        </div>
    </div>
    <!--fim tools-->

    <!--Início Feedback-->

    <section class="feedback-section bg-grey">
        <div class="container feedback-container">
            <div class="arrow-left">
                <div class="div-arrow all-center">
                    <em class="bi bi-caret-right-fill"></em> </div>
            </div>
            <div class="arrow-rigth">
                <div class="div-arrow all-center">
                    <em class="bi bi-caret-left-fill"></em>
                </div>
            </div>

            <div class="feedback-content card bg-white ">
                <div class="content-rigth  all-center ">
                    <div class="feedback-picture-cliente card bg-grey "></div>
                </div>
                <div class="content-left">
                    <strong>User Name</strong><br>
                    <p class="feedback-text t-grey">Lorem ipsum, dolor sit amet consectetur adipisicing
                        elit. Dolor,
                        vitae
                        aliquid. Possimus cumque quaerat, mollitia beatae accusamus ducimus tempora
                        repellendus
                        tempore sunt deleniti.</p>
                    <div class="star"> <em class="bi bi-star-fill"></em>
                        <em class="bi bi-star-fill"></em>
                        <em class="bi bi-star-fill"></em>
                        <em class="bi bi-star-fill"></em>
                        <em class="bi bi-star-fill"></em>
                    </div>
                </div>
            </div>

            <a href="/produtos" class="btn-primary all-center link t-white">ver produtos</a>
        </div>
    </section>
    <!--fim Feedback-->
    <!--Inicio blog-->

    <section class="container">
        <div class="d-flex all-center">

            <div class="line-title-blog"></div>
            <h2 class="">Blog</h2>
            <div class="line-title-blog"></div>
        </div>

        <div class="container-cards-blog">
            <a href="/home" class="card card-content bg-white link">
                <div class="card-img-blog">
                    <img src="" alt="">
                </div>
                <div>
                    <p class="card-title-blog">Lorem ipsum dolor</p>
                    <p class="card-resume-blog">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Est
                        quibusdam
                        provident eius sint, incidunt dicta iure maxime quas magni. Soluta voluptatibus corporis
                        inventore asperiores velit, voluptatum ipsum minus laborum dolorem.</p>
                </div>
            </a>
            <a href="/home" class="card card-content bg-white link">
                <div class="card-img-blog">
                    <img src="" alt="">
                </div>
                <div>
                    <p class="card-title-blog">Lorem ipsum dolor</p>
                    <p class="card-resume-blog">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Est
                        quibusdam
                        provident eius sint, incidunt dicta iure maxime quas magni. Soluta voluptatibus corporis
                        inventore asperiores velit, voluptatum ipsum minus laborum dolorem.</p>
                </div>
            </a>
        </div>
    </section>

    <!-- Sobre nós -->
    <section class="about bg-rosa">
        <div class="container d-flex">
            <div class="about-rigth t-white">
                <h4 class="about-title">Lorem ipsum</h4><br>
                <p class="about-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum assumenda
                    sit
                    ad
                    dolore suscipit quia possimus esse nam, porro non fuga corrupti, voluptates sapiente maiores ex,
                    numquam <br> <br>
                    mollitia quis maxime
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Est aut dignissimos ea veritatis fuga
                    possimus <br> <br>
                    nesciunt unde magni! Doloremque atque beatae odio obcaecati aut consectetur exercitationem rerum
                    reprehenderit suscipit optio!.</p><br>

            </div>

            <div class="about-left">

            </div>

        </div>
    </section>

    <%- include('./partials/footer') %>
</body>

</html>