<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="../styles/index.css">
    <link rel="shortcut icon" href="../../image/favicon.png" type="image/x-icon">
    <script src="../../script/menu.js" defer></script>

    <title>Brightme</title>
</head>

<body>
    <!-- BANNER PRINCIPAL -->
    <%- include('./partials/header') %>
        <div class="background-image">
            <div class=" container">
                <h1 class="t-white">Brightme</h1>
                <div class="banner-text banner__text ">
                    <p class="t-white"> Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cumque sed assumenda
                        eaque recusandae.
                        Rem
                        obcaecati provident veritatis ipsa eveniet veniam nulla neque. Adipisci, debitis impedit! Optio
                        quo
                        corporis totam provident.</p>
                </div>
                <button class="btn bg-rosa t-white banner__button mt-20">Descubra</button>
            </div>
        </div>
        <!--FIM BANNER PRINCIPAL-->

        <!-- COMEÇO IMAGENS PORTIFÓLIO -->
        <section class="portifolio-section bg-rosa">
            <div class="container">
                <br>
                <h2 class="all-center t-white">Conheça nossos produtos</h2>
                <div class="portifolio-box all-center mt-20">
                    <img class="portifolio-box all-center"
                        src="./image/imagens-descricao-produto/Duo_gel_liquido_1.jpeg" alt="álcool em gel">
                    <img class="portifolio-box all-center"
                        src="./image/imagens-descricao-produto/Duo_gel_liquido_3.jpeg" alt="álcool em gek">
                    <img class="portifolio-box all-center"
                        src="./image/imagens-descricao-produto/Duo_gel_liquido_1.jpeg" alt="álcool em gel">
                </div>
            </div>
            <br> <br>   
        </section>
        <!--FIM IMAGENS PORTIFÓLIO-->

        <!--INÍCIO FEEDBACK-->
        <section class="feedback-section bg-grey">
            <div class="container feedback-container">
                <div class="arrow-left">
                    <div class="div-arrow all-center">
                        <em class="bi bi-caret-right-fill"></em>
                    </div>
                </div>
                <div class="arrow-rigth">
                    <div class="div-arrow all-center">
                        <em class="bi bi-caret-left-fill"></em>
                    </div>
                </div>
                <div class="feedback-content card bg-white ">
                    <div class="content-rigth  all-center ">
                        <div class="feedback-picture-cliente card bg-grey "></div>
                    </div>
                    <div class="content-left">
                        <strong>User Name</strong><br>
                        <p class="feedback-text t-grey">Lorem ipsum, dolor sit amet consectetur adipisicing
                            elit. Dolor,
                            vitae
                            aliquid. Possimus cumque quaerat, mollitia beatae accusamus ducimus tempora
                            repellendus
                            tempore sunt deleniti.</p>
                        <div class="estrelas">
                            <em class="bi bi-star-fill t-yellow"></em>
                            <em class="bi bi-star-fill t-yellow"></em>
                            <em class="bi bi-star-fill t-yellow"></em>
                            <em class="bi bi-star-fill t-yellow"></em>
                            <em class="bi bi-star-fill t-yellow"></em>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--fim Feedback-->

        <!--INÍCIO DA SESSÃO BLOG-->
        <section class="container">
            <div class="d-flex all-center">
                <div class="line-title-blog"></div>
                <h2 class="">Blog</h2>
                <div class="line-title-blog"></div>
            </div>
            <div class="container-cards-blog">
                <a href="/blog" class="card card-content bg-white link">
                    <div class="card-img-blog">
                        <img src="https://static.mundoeducacao.uol.com.br/mundoeducacao/conteudo_legenda/f2990a47366c165394a6aa235dfe1535.jpg"
                            width=100% alt="Tartaruga">
                    </div>
                    <div>
                        <p class="card-title-blog">Lorem ipsum dolor</p>
                        <p class="card-resume-blog">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Est
                            quibusdam
                            provident eius sint, incidunt dicta iure maxime quas magni. Soluta voluptatibus corporis
                            inventore asperiores velit, voluptatum ipsum minus laborum dolorem.</p>
                    </div>
                </a>
                <a href="/blog" class="card card-content bg-white link">
                    <div class="card-img-blog">
                        <img src="https://static.mundoeducacao.uol.com.br/mundoeducacao/conteudo_legenda/f2990a47366c165394a6aa235dfe1535.jpg"
                            width=100% alt="lavanda">
                    </div>
                    <div>
                        <p class="card-title-blog">Lorem ipsum dolor</p>
                        <p class="card-resume-blog">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Est
                            quibusdam
                            provident eius sint, incidunt dicta iure maxime quas magni. Soluta voluptatibus corporis
                            inventore asperiores velit, voluptatum ipsum minus laborum dolorem.</p>
                    </div>
                </a>
            </div>
        </section>
        <!-- Sobre nós -->
        <section class="about bg-rosa">
            <div class="container d-flex  about__container">

                <div class="about-left t-white">
                    <h4 class="about-title">Conheça a Brightme</h4><br>
                    <p class="about-text">Nascemos por acreditar em um mundo melhor, mais simples e hamonioso. <br>
                        <br>A economia regenerativa é a essência do nosso trabalho e novos produtos foram pensados e
                        repensados com um novo olhar de cuidado da sua casa e do seu corpo.<br>
                        <br>E, tudo isso, com uma fragância personalizada, porque sabemos que a experiência sensorial é
                        única e individualizada. <br>
                        <br>
                        Entre em contato com a gente e conheça mais sobre o nosso trabalho. Queremos dividir com você
                        nossas descobertas e experiências.
                    </p><br>
                </div>
                <div class="about-rigth">
                </div>
            </div>
        </section>
        <%- include('./partials/footer') %>
</body>

</html>