<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./assets/styles/index.css">
    <title>Brightme</title>
</head>

<body>
    <header class="header">
        <nav class="nav_menu container">
            <div class="brand"><img src="" alt="">img</div>
            <div class="div_menu">
                <ul class="list_menu d-flex list">
                    <li class="t-white"><a href="" class="item_list t-white">Álcool Em Gel</a></li>
                    <li><a href="" class="item_list t-white">Kits</a></li>
                    <li><a href="" class="item_list t-white">Sobre Nós</a></li>
                    <li><a href="" class="item_list t-white">Blogl</a></li>
                </ul>
            </div>
            <div class="d-flex">
                <div class="account">Entrar</div>
                <div class="cart"><img src="" alt="">cart</div>
            </div>
        </nav>
    </header>


    <footer class="bg-blue footer">

        <div class="container d-flex div-content-footer">
            <div class="div-category">Categoria
                <a href="">Álcool em Gel</a>
                <a href="">Kits</a>
                <a href="">Sobre Nós</a>
                <a href="">Blog</a>
            </div>
            <div class="line"></div>
            <div class="div-info">Redes Sociais</div>
        </div>
    </footer>

</body>

</html>