<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./styles/list.css">
    <link rel="shortcut icon" href="../../image/favicon.png" type="image/x-icon">

    <title>Brightme</title>
</head>
<%- include('./partials/header') %>

<body>
    <section class="container d-flex">
        <div class="col content-left">
            <div class="card">
                filtros
            </div>
        </div>
        <div class="col content-right">
            <h2>kits Promocionais</h2>
            <div class="box-general-product">
                <div class="card box-product">
                    <div class="image-product"><img width="70px"
                            src="./image/imagens-descricao-produto/Alcool em gel.jpeg" alt=""></div>
                    <div class="title-product">kit com essencias amadeirado</div>
                    <div class="line"></div>
                    <div class="price-quantity d-flex all-center">
                        <div class="menos t-white all-center bg-grey">-</div>
                        <div class="price t-white bg-green all-center ">valor</div>
                        <div class="mais t-white bg-grey all-center">+</div>
                    </div>

                </div>
            </div>
        </div>
    </section>
    <%- include('./partials/footer') %>
</body>

</html>