<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/styles/list.css">
    <title>Brightme</title>
</head>

<body>
    <section class="container">
        <div class="col content-left">
            <div class="card">

            </div>
        </div>
        <div class="col content-right">
            <h2>kits Promocionais</h2>
            <div class="box-general-product">
                <div class="card box-product">
                    <div class="image-product"><img width="50px"
                            src="../public/image/imagens-descricao-produto/Alcool em gel.jpeg" alt=""></div>
                    <div class="title-product">kit com essencias amadeirado</div>
                    <div class="line"></div>
                    <div class="price-quantity">
                        <div class="menos">-</div>
                        <div class="price">valor</div>
                        <div class="mais">+</div>
                    </div>

                </div>
            </div>
        </div>
    </section>

</body>

</html>