<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/login.css">
    <script src="../../script/script.js" defer></script>
    <title>Login| Brightme</title>
</head>

<body>
    <%- include('./partials/header') %>

    <section class="container">

        <section class="col-login card">
            <div class="login">
                <h1 class="title">Entre na sua conta</h1>
            </div>

            <form class="loginFillOut"></form>

            <label for="email">E-mail</label>
            <input type="email" name="email" id="email" placeholder="Digite seu e-mail">

            <label for="password">Senha</label>
            <input type="password" name="password" id="password" placeholder="Digite sua senha">

            <div class="group-btn-login">
                <button class="btn-login btn-primary" type="submit">
                    Entrar
                </button>

                <button class="btn-register btn-tertiary" type="submit">
                    Cadastre-se
                </button>
            </div>

            </form>

            <div class="forgot">
                <p class="forgot">Esqueci minha senha</h1>
            </div>

        </section>

    </section>

    <%- include('./partials/footer') %>
</body>

</html>