<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../styles/login.css">
    <link rel="shortcut icon" href="../../image/favicon.png" type="image/x-icon">
    <script src="../../public/script/menu.js" defer></script>

    <title>Conta</title>
</head>

<body>
    <%- include('./partials/header') %>
        <section class="container all-center mt-40 d-flex h-100" >
           
                <div class="card container-form">
                    <h1 class="title">Entre na sua conta</h1>
                    <form class="loginFillOut mt-20" method="post">
                        
                        <label for="email">E-mail</label>
                        <input class="input w-100" type="email" name="email" id="email" placeholder="Digite seu e-mail">
                        <div class="mt-20"></div>

                        <label for="senha">Senha</label>
                        <input class="input w-100" type="password" name="senha" id="senha"
                            placeholder="Digite sua senha">
                            <% if (error) { %>
                                <p class="t-red errors mt-20"><%= error %></p> <br>
                              <% } %>
                        <br>
                        <button class="w-100 btn bg-rosa t-white mt-20" type="submit">
                            Entrar
                        </button>
                        <a href="cadastro" class="link btn bg-blue t-white mt-20" type="submit">
                            Cadastre-se
                        </a>
                    </form>
                    <a class="mt-20 forgot link" href="forgot-password">Esqueci a minha senha</a>
                </div>
        </section>


        <%- include('./partials/footer') %>

</body>

</html>