<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<<<<<<< HEAD
    <link rel="stylesheet" href="./styles/page-sucess.css">
    <link rel="shortcut icon" href="../../image/favicon.png" type="image/x-icon">
=======
    <link rel="stylesheet" href="./styles/sucess.css">
>>>>>>> parent of 8f38523 (finalização responsividade pág login e inclusão da header e footer responsiva nas demais páginas)
    <title>Sucesso</title>
</head>

<body>
    <%- include('./partials/header') %>
        <div class="container content-sucess">
            <div class="title-sucess ">
                <h3 class="t-green">Compra Finalizada</h3>
            </div>
            <div class="t-grey-700">Acompanhe o status dp seu item em Minha Conta</div>
            <div class="div-btn-sucess">
                <a href="/" class="link btn-primary link all-center t-white">Inicio</a>
                <a href="/conta" class="link btn-secondary link all-center">Minha Conta</a>
            </div>
        </div>
        <%- include('./partials/footer') %>
</body>

</html>