<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Veja todos os nosso produtos</title>
  <link rel="stylesheet" href="../../styles/produtos.css">
  <link rel="shortcut icon" href="../../image/favicon.png" type="image/x-icon">
  <script src="../../script/menu.js" defer></script>
  <script src="../../script/produtos.js" defer></script>

</head>

<body>
  <%- include('./partials/header') %>
    <button id="btnFilterMobile" class="btn btn__filter">Filtro</button>
    <section class="mt-40 container-fluid d-flex">

      <section class="rigth card">
        <h3>Tipo </h3>
        <div class="d-flex mt-20">
          <div class="selection"></div>Kit
        </div>
        <div class="d-flex">
          <div class="selection"></div>Álcool
        </div>
        <div class="d-flex">
          <div class="selection"></div>Essências
        </div>
        <h3 class="mt-20">Preço</h3>

        <input type="number" name="preco-min" id="" class="mt-20 card input-price" placeholder="min">
        <input type="number" name="preco-max" id="" class="mt-20 card input-price" placeholder="max">

        <h3 class="mt-20">Aroma</h3>
        <div class="d-flex mt-20">
          <div class="selection"></div>Alecrim
        </div>
        <div class="d-flex">
          <div class="selection"></div>Laranja
        </div>
        <div class="d-flex">
          <div class="selection"></div>Lavanda
        </div>
        <div class="d-flex">
          <div class="selection"></div>Menta
        </div>
      </section>
      <section class="left ">
        <h2>Produtos</h2>
        <div class="options mt-40">
          <%- include('./partials/card-product') %>
        </div>

      </section>
    </section>
    <section class="container mt-40">
      <div class="d-flex all-center">
        <div class="selection-page">
        </div>
        <div class="selection-page active">1</div>
        <div class="selection-page">2</div>
        <div class="selection-page">3</div>
        <div class="selection-page">
          > </div>
      </div>
    </section>
    <div class="mt-40"></div>

    <%- include('./partials/footer') %>
      <div class="bg__filter__mobile"></div>
</body>

</html>