@import url(./main.css);

h1 {
    font-weight: bold;
    font-size: 24px;
    color: black;
}

h2 {
    font-weight: bold;
    font-size: 20px;
    color: black;
}

h3 {
    font-size: 18px;
    color: black;
}

p {
    font-size: 16px;
    margin-bottom: auto;
}

main {
    align-items: center;

    display: flex;
    justify-content: space-around;
}

#coluna1 {
    width: 30%;
    border-radius: 20px;
    border: 1px solid #C4C4C4;
    width: 308px;
    height: 440px;
    flex-direction: column;
}

#alcooleemgelDestaque {
    max-width: 200x;
    max-height: 400px;
    width: auto;
    height: auto;
    position: relative;
    top: 40px;
    left: 100px;
}

#coluna2 {
    display: flex;
    width: 40%;
    flex-direction: column;
    justify-content: space-around;
}

#coluna3 {
    display: flex;
    width: 30%;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 20px;
    border: 1px solid #C4C4C4;
    width: 308px;
    height: 440px;
    background: #FFFFFF;
}

.carrossel {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.carrossel img {
    max-width: 100px;
    max-height: 120px;
    width: auto;
    height: auto;
}
