@import url(./main.css);

.card{
  padding: 10px !important;
}

.title{
  padding: 1rem;
}

.form__cadastro {
  justify-content: space-between;
}

.left,.rigth {
  width: 50%;
  padding: 1rem;
}

.padding-left{
  padding: 0 0 0 1rem;
}