/* card-product. VOCÊ TAMBÉM PODE GOSTAR DE... */

.promo-cards {
  width: 19rem;
  background-color: white;
  margin-right: 1rem !important;
}

.promo-cards:hover {
  box-shadow: 0 1rem 1.3rem -0.7rem #000000;
  cursor: pointer;
}

.promo-card-price {
  padding: 0.5rem 1rem;
  height: 3rem;
}

.line-cart {
  height: 2rem;
  width: 70%;
}