@import url(./main.css);

.left {
  width: 65rem;
  margin-right: 2rem;
}

.div-cart {
  align-items: center;
}

.div-img-cart {
  width: 15rem;
  height: 15rem;
}

.div-title-card {
  width: 20rem;
  display: flex;
  justify-content: space-between;
}

.right {
  width: 35rem;
}

.input-cupom {
  border: 0.1rem var(--main-grey) solid;
  border-radius: 2rem;
  margin-right: 1rem;
  font-size: 1rem;
  padding: 1rem;

  width: 32rem;
  height: 4rem;

  display: flex;
  align-items: center;
}

.h-35 {
  height: 35rem;
}