@import url(./main.css);

.left {
  width: 59%;
}

.div-cart {
  align-items: center;
}

.div-img-cart {
  width: 15rem;
  height: 15rem;
}

.div-title-card {
  width: 20rem;
  display: flex;
  justify-content: space-between;
}

.right {
  width: 39%;
}

.link__cep {
  color: rgb(101, 101, 101);
  font-size: .7rem;
}

@media(max-width:840px) {

  .container__main{
    flex-direction: column;
  }

  .left{
    width: 100%;
    margin-bottom:2rem;
  }

  .right{
    width: 100%;
  }

  .containner__input{
      justify-content: left;
  }
}