* footer */ .footer {
  height: 14rem;
}

.line {
  height: 13rem;
  width: 0.1rem;
  background-color: white;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.div-content-footer {
  justify-content: center;
  align-content: center;
}

.div-category {
  margin-top: 2rem;
  margin-right: 2rem;
  display: flex;
  flex-direction: column;
  text-align: end;
}

.ul_footer {
  font-size: 1rem;
  margin-top: 2rem;
}

.div_redes_sociais {
  margin-top: 2rem;
}

.footer_inst {
  margin-right: 1rem;
}

.div-info {
  margin-top: 2rem;
  margin-left: 2rem;
}