/* MENU */
.header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  max-width: 2560px;
  margin: auto;
  padding: -0.10rem;
  height: 15vh;
  background: var(--main-rosa);
}

.brand, .col-logo{
  height: 15vh;
}

.brand-img {
  width: 35vh;
}

.list_menu{
  font-size: 1.2rem;
}

#nav_menu{
  width: 100%;
}

.space-around {
  display: flex;
  justify-content: space-around;
}