@import url(./main.css);

/* BANNER PRINCIPAL */

.background-image {
  background: url(../image/home/banner-home.png) no-repeat;
  background-size: cover;
  height: 28rem;
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 1440px;
}

.content-banner {
  margin: 3rem;
  width: 100%;
}

.banner-text {
  text-align: justify;
  margin-bottom: 0.5rem;
  margin-top: 1rem;
  right: 5rem;
  width: 50%;
}

.banner-button {
  margin-top: 0;
}

/* PORTIFOLIO */

.all-center{
  padding: 1rem;
  font-size: 1.2rem;
}

.portifolio-box {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 0.1rem;
  width: 90%;
  max-width: 1440px;
  height: 40vh;
  border-radius: 2rem;
}

/* FEEDBACK - AVALIAÇÃO CLIENTES */

.feedback-section {
  height: 60vh;
}

.feedback-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 50vh;
}

.div-arrow {
  display: flex;
  background: #fff;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 1.25rem;
}

.bi-caret-right-fill,
.bi-caret-left-fill {
  color: var(--main-grey);
}

.arrow-rigth {
  display: flex;
  position: relative;
  right: 45%;
  top: 12rem;
  cursor: pointer;
}

.arrow-left {
  display: flex;
  position: relative;
  left: 45%;
  top: 14rem;
  cursor: pointer;
}

.feedback-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 25rem;
  width: 70vw;
}

.feedback-picture-cliente {
  height: 14rem;
  width: 14rem;
}

.content-left {
  margin: 0 2rem;
}

.feedback-text {
  margin: 1rem 0;
}

.estrelas input[type=radio] {
  display: none;
}

.estrelas label i.fa:before {
  content: '\f005';
  color: #FC0;
}

.estrelas input[type=radio]:checked~label i.fa:before {
  color: #CCC;
}

.texto-cliente {
  flex-direction: column;
}

.btn-primary {
  margin-top: 0.6rem;
  text-align: center;
}

/*BLOG*/

.line-title-blog {
  background-color: var(--main-rosa);
  width: 30rem;
  height: 0.2rem;
  margin: 7rem 2rem;
}

.container-cards-blog {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.card-content {
  width: 30rem;
  height: auto;
}

.card-img-blog {
  height: 20rem;
  border-bottom: 0.1rem solid var(--main-grey);
}

.card-title-blog {
  display: flex;
  margin: 2rem 0;
}

/* ABOUT - SOBRE NÓS */

.about {
  margin-top: 7rem;
  height: 55vh;
}

.about-rigth {
  padding: 0 2rem 0 2rem;
  width: 50%;
  margin-top: 2rem;
}

.about-left {
  background-image: url(../image/imagens-descricao-produto/quem\ somos.jpeg);
  position: absolute;
  background-size: cover;
  width: 100%;
  max-width: 50vw;
  height: 55vh;
  right: 0%;
}