@import url(./main.css);

.content-banner-image {
  background: url(../image/imagens-descricao-produto/intro1.png) no-repeat;
  background-size: cover;
  height: 500px;

  display: flex;
  align-items: center;
}
.banner-text {
  margin: 40px 0px;
  width: 50%;
}

/*tools*/

.tools {
  height: 250px;
  display: flex;
  align-items: center;
  flex-direction: row;
}

.tools-contants {
  display: flex;
  flex-direction: row;

  justify-content: space-around;
}
.tools-boxes-pictures {
  width: 150px;
  height: 150px;

  border-radius: 20px;
}
/* feedback */
.feedback {
  height: 400px;
}
/*Blog*/
