@import url(./main.css);

body {
  background-image: url(../image/imagens-descricao-produto/Brightme3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  flex-direction: column;
}

.title {
  text-align: center;
  margin-bottom: 0.1rem;
}

.util {
  justify-content: right;
}

.container-form {
  display: flex;
  height: 40rem;
  width: 30rem;
  background: var(--main-grey);
  opacity: 0.9;
  margin-top: 2rem;
  margin-bottom: 5rem;
}

input[type="email"],
input[type="password"],
textarea {
  height: 3.5rem;
  margin-top: 1rem;
}

.forgot {
  font-size: 1rem;
  cursor: pointer;
}

.div-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}