@import url(./main.css);

body {
  background-image: url(../image/imagens-descricao-produto/Brightme3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  flex-direction: column;
}

.title {
  text-align: center;
  margin-bottom: 10px;
}

.util {
  justify-content: end;
}

.container-form {
  height: 400px;
  width: 300px;
  background: var(--main-grey);
  opacity: 0.9;
  margin-top: 20px;
  margin-bottom: 50px;
}

input[type="email"],
input[type="password"],
textarea {
  height: 35px;
  margin-top: 10px;
}

.forgot {
  font-size: 14px;
  cursor: pointer;
}

.div-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}


@media (max-width:500px) {
  .col-login {
    right: 100rem;
    left: 10rem;
    width: 50%;
  }

  .btn-register {
    width: 100%;
  }
}