@import url(./main.css);

body {
  background: var(--main-blue);
}

.title {
  text-align: center;
  margin-bottom: 0.1rem;
}

.container-form {
  display: flex;
  width: 25rem;
  background: var(--main-white);
  margin-top: 2rem;
  margin-bottom: 5rem;
}

.forgot {
  font-size: 1rem;
  cursor: pointer;
}

.errors{
  position: absolute;
}