@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url('./header.css');
@import url('./footer.css');
@import url('./card-product.css');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

:root {
  --main-white: #fff;
  --main-yellow: #f1c40f;
  --main-grey: #d4d4d4;
  --main-grey-700: #979797;
  --main-rosa: #e15f41;
  --main-blue: #303952;
  --main-green: #27ae60;
  --main-red: #d63031;
}

/* shortcuts */
.container {
  width: 1000px;
  margin: auto;
}

.d-flex {
  display: flex;
}

.all-center {
  display: flex;
  align-items: center;
  margin: auto;
  justify-items: center;
  justify-content: center;
  align-content: center;
}

.w-100 {
  width: 100% !important;
}

/* background */
.bg-white {
  background-color: var(--main-white);
}

.bg-rosa {
  background-color: var(--main-rosa);
}

.bg-green {
  background-color: var(--main-green);
}

.bg-blue {
  background-color: var(--main-blue);
}

.bg-grey {
  background-color: var(--main-grey);
}

.bg-grey-700 {
  background-color: var(--main-grey-700);
}

.bg-red {
  background-color: var(--main-red);
}

.bg-yellow {
  background-color: var(--main-yellow);
}

/* text color */
.t-rosa {
  color: var(--main-rosa);
}

.t-green {
  color: var(--main-green);
}

.t-blue {
  color: var(--main-blue);
}

.t-grey {
  color: var(--main-grey);
}

.t-grey-700 {
  color: var(--main-grey-700);
}

.t-red {
  color: var(--main-red);
}

.t-yellow {
  color: var(--main-yellow);
}

.t-white {
  color: white !important;
}

/* botões */
.btn {
  border: none;
  cursor: pointer;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-items: center;
  font-size: 18px;
  border-radius: 10px;
  height: 40px;
}

.btn-primary {
  color: #ffffff;
  background: var(--main-rosa);
  height: 40px;
  width: 150px;
  font-size: 18px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}

.btn-secondary {
  color: #ffffff;
  background: var(--main-grey);
  height: 40px;
  width: 150px;
  font-size: 18px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}

.btn-tertiary {
  color: #ffffff;
  background: var(--main-blue);
  height: 40px;
  width: 150px;
  font-size: 18px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}

/* cards */
.card {
  display: flex;
  flex-direction: column;

  border: 1px solid var(--main-grey);
  border-radius: 20px;
  display: flex;

  padding: 20px;
}

/* list */

.list {
  list-style: none;
}

.item_list {
  text-decoration: none;
}

/* link */
.link {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

/* margin */
.m-10 {
  margin: 10px;
}

.mt-20 {
  margin-top: 20px;
}

.mt-40 {
  margin-top: 40px;
}