@import url(./main.css);

.left {
  margin: 6rem 2rem 6rem 0px;
  height: 68.8rem;
  width: 44.7rem;
  border: 0.1rem solid var(--main-grey);
  padding: 2rem;
}

.right {
  margin: 6rem 0 6rem 2rem;
  height: 68.8rem;
  width: 44.7rem;
  border: 0.1rem solid var(--main-grey);
}

.input-finalizar-lg {
  width: 100%;
  height: 3rem;
  border-radius: 1rem;
  margin-top: 1rem;
  border-color: var(--main-grey);
}

.input-finalizar-sm {
  width: 100%;
  height: 3rem;
  border-radius: 1rem;
  margin-top: 1rem;
  border-color: var(--main-grey);
}

.mr-20 {
  margin-right: 2rem;
}
