@import url(./main.css);

.content-sucess {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  margin: 20rem 0;
}
.div-btn-sucess a {
  margin: 2rem;
}
