@import url(./main.css);

.rigth {
  width: 20%;
  margin-right: 2rem;
  max-height: 50rem;
  margin-top: 5.5rem;
}

.input-price {
  height: 3.5rem;
}

.selection {
  border: 0.1rem solid var(--main-grey);
  border-radius: 0.5rem;
  width: 2rem;
  height: 2rem;

  margin-right: 1rem;

  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
}

.selection-page {
  border: 0.1rem solid var(--main-grey);
  border-radius: 0.5rem;
  width: 3rem;
  height: 3rem;

  margin-right: 1rem;

  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
}

.selection-page:hover {
  background-color: var(--main-blue);
  color: var(--main-white);
}

.active {
  background-color: var(--main-grey);
}

/* KITS PROMOCIONAIS e OS MAIS PEDIDOS */

.options{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  grid-gap: 1rem;
  width: 100%;
  max-width: 2560px;
  justify-content: center;
  align-items: center;
}