@import url(./main.css);

.container__fluid{
  padding: 3rem;
}

.container-display {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

/* COLUNA 1 */



.img-product-main {
  max-width: 25vw;
}

.div-picture-product {
  width: 100%;
}

.picture-produts-item {
  width: 4rem;
  height: 100%;
  max-height: 4rem;
  padding: 0.2rem;

  margin-top: 1rem;
  margin-right: 1rem;

  border-radius: 1rem;
}

/* COLUNA 2*/
.col-info {
  height: 100%;
  padding-right: 2rem;
  padding-left: 2rem;
}

.star em {
  color: var(--main-yellow);
  font-size: 2rem;
}

/* COLUNA 3 */
.col-buy {
height: 85%;
width: 30%;
}

@media (max-width:880px){
  .container-display{
    display: flex;
    flex-direction: column;
  }

  .img-product-main{
   max-width: 80vw;
  }

  .col-buy{
   width: 100%;
   margin-top: 2rem;
  }

  .col-info {
    height: 100%;
    padding: 0;

   margin-top: 2rem;

}
}