@import url(./main.css);

.promo-cards.card{
  height:20rem !important;
}
.container-fluid {
  padding: 2rem;
  width: 100%;
}
.btn__filter{
  display: none;
}
.rigth {
  width: 20%;
  margin-right: 2rem;
  max-height: 50rem;
  margin-top: 6.2rem;
}

.input-price {
  height: 3.5rem;
}

.selection {
  border: 0.1rem solid var(--main-grey);
  border-radius: 0.5rem;
  width: 2rem;
  height: 2rem;

  margin-right: 1rem;

  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
}

.selection-page {
  border: 0.1rem solid var(--main-grey);
  border-radius: 0.5rem;
  width: 3rem;
  height: 3rem;

  margin-right: 1rem;

  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
}

.selection-page:hover {
  background-color: var(--main-blue);
  color: var(--main-white);
}

.active {
  background-color: var(--main-grey);
}

/* KITS PROMOCIONAIS e OS MAIS PEDIDOS */

.options {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  grid-gap: 1rem;
  width: 100%;
  max-width: 75vw;
  justify-items: center;
  align-items: center;
}

@media(max-width:910px) {

  .container-fluid {
    flex-direction: column;
  }
  .rigth{
    display: none;
  }

  .rigth.on{
    display: flex;
    position: relative;
    width: 100%;
    height: 100%;
    border-bottom: 20rem;
  }

  .btn__filter{
    display: block;
    z-index: 10;
    position: absolute;
    right: 1rem;
    top: 11.5rem;
    width: 6rem;
    font-size: 1rem;
  }

  .options{
    max-width: 100vw;
  }
}