@import url(./main.css);

.col-userPanel {
    display: flex;
    height: 600px;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 20px;
    flex-direction: column;
  }

.title {
    background-color: var(--main-rosa);
    text-align: center;
    color: white;
}

input {
    width: 100%;
    resize:none;
    height: 35px;
  } 

  .btn-secondary {
    color: #ffffff;
    background: var(--main-grey-700);
    height: 25px;
    width: 20%;
    font-size: 8px bold;
    border-radius: 10px;
    border: none;
    position: relative;
    left: 765px;
  }

  .requests {
      position: relative;
      left: 100px;
  }